* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	font-family: 'Open Sans', sans-serif;
}

html,
body {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 24px;
}

h2 {
    font-size: 35px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 14px;line-height: 28px;
}


ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.full_widt {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.full_widt.mbot_zero {
	margin-bottom: 0;
}
.form_section {
	position: relative;
	background-color: #f7f7f7;
	width: 100%;
	float: left;
	height: 100vh;
	padding: 50px 0;
	overflow-y: auto;
}
.form_section h2 {
	font-weight: 700;
	text-align: center;
	margin: 10px 0;
	font-size: 24px;
	float: left;
	width: 100%;
}
.form_section h2.mbot30 {
	margin-bottom: 30px;
}

.form_section h3 {
	font-weight: 600;
	color: #000;
	margin-bottom: -8px;
	float: left;
	width: 100%;
	font-size: 16px;
	margin-top: 0;
}
.form_wrapper {
	position: relative;
	max-width: 584px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	border-radius: 26px;
	box-shadow: 0 0 15px 8px #f7f9ff;
	padding: 50px 57px;
	width: 100%;
	float: left;
}
form.step_form_col {
	padding: 0;
	float: left;
	width: 100%;
}

.step_form_col .custom_field {
	display: flex;
	flex-flow: column-reverse;
	width: 100%;
	float: left;
}

.step_form_col .custom_field label,
.step_form_col .custom_field input {
	transition: all 0.2s;
	touch-action: manipulation;
}

.step_form_col .custom_field input {
	font-size: 14px;
	border: 0;
	border: 1px solid #9B9B9B;
	font-family: inherit;
	-webkit-appearance: none;
	border-radius: 0;
	padding: 0;
	cursor: text;
	height: 52px;
	border-radius: 5px;
	padding: 0 15px;
}

.step_form_col .custom_field input:focus {
	outline: 0;
	border-bottom: 1px solid #53c251;
}

.step_form_col .custom_field input:placeholder-shown + label {
	cursor: text;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform-origin: left bottom;
	transform: translate(5px, 38px) scale(1.2);
	font-weight: 500;
	float: left;
	padding: 0 10px;
	margin-bottom: 0;
}

.auto-selection .topic_list .active{
  background: #53c251;
  color: #fff;
}
.auto-selection .custom_field{
  position: relative;
}
.auto-selection .custom_field i {
  bottom: 17px;
  position: absolute;
  right: 21px;
  line-height: 18px;
  margin: auto;
  color: #53c251;
  cursor: pointer;
}

.step_form_col .custom_field ::-webkit-input-placeholder {
	opacity: 0;
	transition: inherit;
}

.step_form_col .custom_field input:focus::-webkit-input-placeholder {
	opacity: 1;
}

.step_form_col .custom_field input:not(:placeholder-shown) + label,
.step_form_col .custom_field input:focus + label {
	transform: translate(5px, 10px) scale(1);
	cursor: pointer;
	background: #fff;
	margin-bottom: 0;
	padding: 0 10px;

	font-weight: 500;
	max-width: fit-content;
}

.step_btn_wrapper {
	width: 100%;
	float: left;
	margin-top: 50px;
	margin-bottom: 30px;
}

.form_wrapper .btn {
	height: 52px;
	border: 2px solid #53c251;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	transition: all 0.2s ease;
}
.white_bg_btn {
	width: 38%;
	margin-right: 5px;
	color: #53c251;
}
.white_bg_btn:hover {
	color: #fff;
	background-color: #53c251;
}
.green_bg_btn {
	width: 60%;
	border: 2px solid #53c251;
	background-color: #53c251;
	color: #fff;
	float: right;
}
.green_bg_btn:hover {
	color: #53c251;
	background-color: #fff;
}
.form_wrapper p {
	color: #a5a5a5;
	font-size: 15px;
	margin-top: 25px;
}
.form_wrapper p span {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	margin-left: 15px;
}
.form_wrapper p span a {
	color: #53c251;
}
.topic_list {
	float: left;
	width: 100%;
	margin: 20px 0 0;
	padding: 0;
}
.topic_list li {
	list-style: none;
	display: inline-block;
	background-color: #e7e7e7;
  padding: 6px 12px;
  border-radius: 4px;
  margin: 0px 2px 10px;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  margin-right: 10px;
}
.auto-selection-list ul li:focus{
  background: #ccc;
}
.auto-selection-list ul li:hover{
  background: #ccc;
}
.form_logo {
	text-align: center;
	padding: 50px 0px;
}
.form_logo img {
	width: 100%;
	max-width: 200px;
}

ul.progress_bar {
	width: 100%;
	float: left;
	margin: 0 0 40px 0;
	padding: 0;
}
ul.progress_bar li {
	width: calc(33% - 8px);
	float: left;
	list-style: none;
	position: relative;
}
ul.progress_bar li:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 6px;
	background: #e9e9e9;
	top: 12px;
	left: 0;
}
ul.progress_bar li span {
	display: inline-block;
	width: 28px;
	height: 28px;
	position: relative;
}
ul.progress_bar li span:before {
	position: absolute;
	content: '';
	width: 28px;
	z-index: 999;
	height: 28px;
	background: #fff;
	border: 4px solid #eaeaea;
	border-radius: 100%;
	left: 0;
}
ul.progress_bar li:last-child {
	width: 27px !important;
}
ul.progress_bar li.active span:before {
	box-shadow: 0px 2px 8px rgba(0, 0, 0, .4);
	border: 4px solid #fff;
}
ul.progress_bar li.active span:after,
ul.progress_bar li.completed span:after {
	position: absolute;
	content: '';
	background: #53c251;
	width: 10px;
	height: 10px;
	z-index: 999;
	border-radius: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

ul.progress_bar li.completed span:after {
	content: '\2713';
	color: #fff;
	background: #53c251;
	width: 100%;
	height: 100%;
	line-height: 27px;
	text-align: center;
}

ul.progress_bar li.completed:after {
	background: #53c251;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4caf50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4caf50;
	cursor: pointer;
}
.range_list {
	display: flex;
	justify-content: space-between;
	margin: 10px auto;
}
.range_list li {
	list-style: none;
}
.slidecontainer {
	float: left;
	width: 100%;
}
.slidecontainer p {
  font-weight: 600;
	color: #000;
	margin-bottom: 20px;
	width: 100%;
}
.cstm_button_wrapper {
	display: flex;
	justify-content: center;
}
.user_selection .mgrt0 {
	margin-right: 0px !important;
}
.user_selection .btn_head {
	text-align: center;
	font-weight: 700;
	font-size: 28px;
}
.user_selection .cstm_btn {
	height: 50px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #53c251;
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
	width: 150px;
	border: none;
	margin-right: 72px;
	transition: all 0.2s ease;
}
.user_selection .cstm_btn:hover {
	background-color: #53c251;
	color: #fff;
}
.btn_cntr {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 65%;
}
.sign_up_marg {
	float: left;
	width: 100%;
}
.error p {
	color: #ec1515;
}
.auto-selection {
	position: relative;
}
.auto-selection-list {
	position: relative;
	/* display: none; */
}
.auto-selection-list ul {
	position: absolute;
	top: 71px;
	padding: 10px 15px;
	border: 1px solid #ddd;
	width: 100%;
	border-radius: 4px;
  background: #fff;
  padding: 0;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
	max-height: 156px;
	overflow-y: scroll;
}
.auto-selection-list ul li {
	list-style: none;
  padding: 5px 18px;
  cursor: pointer;
}
.auto-selection-list ul li span {
  font-weight: 700;
  text-transform: capitalize;
}
.step_form_col .range_list {
	padding-left: 0;
	padding: 0;
}
.input-range {
	height: 6px !important;
}
.input_range .input-range__track--active {
	height: 15px;
	border-radius: 5px;
	background: #53c251 !important;
}
.signup_btn_cntr{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


/*======================modal=================*/

.cstm_modal{
  padding-right: 15px;
  display: block;
}
.cstm_modal .modal-content{
  border-radius: 0;
}
.cstm_modal .modal-dialog {
    width: 504px;
}
.cstm_modal .modal-body p {
    text-align: center;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin-bottom: 46px;
    margin-top: 8px;
}
.pop_btn {
    text-align: center;
    margin-bottom: 22px;
}
.pop_btn button{
 width: auto;
    float: none;
    padding: 10px 44px;
}

/*======================header=================*/
.container.cstm_container{
   width: 958px;
}
header {
    width: 100%;
    display: flex;
    float: left;
    padding: 32px 40px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f4f8ff;
}
.hdr_lft {
    width: auto;
    display: flex;
    align-items: center;
}
.logo {
    width: 20%;
}
.menu_close{
  display: block !important;
}
.menu_open{
  display: block !important;
}
.menu {
  margin-left: 50px;
}
.menu li {
    display: inline-block;
    list-style: none;
    margin-right: 30px;
}
.menu li a {
    font-weight: 700;
    color: #333;
    font-size: 15px;
}
.menu li.active a {
    color: #40c252;
}
.logo img{
  width: 100%;
}

.menu li a.new_pitch_btn {
    background: #40c252;
    padding: 14px 44px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;
}
.hdr_rgt {
    width: auto;
    display: flex;
    align-items: center;
}
.msg_icn{
  width: 30px;
}

.user_img {
    width: 40px;
    height: 40px;
}
.user_img img{
  max-width: 100%;max-height: 100%;
}
span.profile_detail {
    width: 80%;
    display: flex;
    margin-left: 44px;
    align-items: center;
}
.btn.cstm_dropdown{
  background: transparent;
}

.btn.cstm_dropdown {
    background: transparent;
    font-weight: 700;box-shadow: none;
    outline: none;
}

.profile_detail .dropdown-menu {
    left: -100px;padding: 0 0;
    margin-top: 12px;
}
.cstm_angle {
    font-size: 16px;
}

/*===========================search col===============*/

.srch_row {
    width: 100%;
    float: left;
    position: relative;    min-height: 103px;
}
.srch_col{
  border: 1px solid #ededed;
  position: relative;
}
.srch_row input {
    width: 100%;
    border: none;
    height: 100px;
    padding: 35px 36px 35px 76px;
}
.srch_row button {
    position: absolute;
    padding: 0;
    background: transparent;
    border: none;
    top: 33px;
    left: 27px;
}
img.srch_icn {
    width: 34px;
}
.search_auto_wrapper{    position: absolute;
  width: 100%;
  float: left;}
.srch_lst_row {
  width: 100%;
  float: left;
  border: 1px solid #ededed;
  /* position: absolute; */
  left: 0;
  right: 0;
  top: 102px;
  bottom: 0;
  background: #fff;
  z-index: 9999;
  overflow-y: auto;
  /* height: 100%; */
  max-height: 242px;
  box-shadow: 0px 6px 10px #0000000f;
}
.srch_lst_col {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    padding: 16px 26px;
}
.srch_pic {
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
}
.srch_pic img{max-height: 100%;max-width: 100%;border-radius: 100%;}

.pro_detail h3 {
    font-weight: 700;
    font-size: 18px;
}
span.pro_detail {
    margin-left: 20px;
}
.srch_lst_col.active{
  background: #40c252;
}

.srch_lst_col.active h3{
  color: #fff;
}
.srch_lst_col.active p{
  color: #fff;
}

.srch_lst_col:hover{
   background: #40c252;
}
.srch_lst_col:hover h3, .srch_lst_col:hover p{
   color: #fff;
}
.srch_col input[type="search"]::-webkit-input-placeholder { 
  font-size: 18px; color: #bcbcbc;
}
.srch_col input[type="search"]::-moz-placeholder { 
  font-size: 18px;color: #bcbcbc;
}
.srch_col input[type="search"]:-ms-input-placeholder { 
  font-size: 18px;color: #bcbcbc;
}
.srch_col input[type="search"]:-moz-placeholder { 
  font-size: 18px;color: #bcbcbc;
}

.new_pitch {
    width: 100%;
    float: left;
    text-align: center;
    border: 1px solid #ededed;
    border-radius: 3px;
    padding: 40px 0;
    margin-bottom: 35px;margin-top: 70px;
}
.new_pitch h4 {
    font-weight: 700;
    margin-bottom: 44px;
}
.new_pitch_btn {
    background: #40c252;
    padding: 12px 38px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 15px;
    box-shadow: none;
}
.pitches_row {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;    margin-bottom: 40px;
}
span.slide_toggle {
    border: 1px solid #cbcccd;
    width: 115px;
    display: flex;
}
.slide_toggle span {
    width: auto;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 41px;
}
.menu li a span{
  margin-right: 6px;
}
.cstm_dropdown span {
  margin-right: 6px;
}
.slide_toggle span i {
    font-size: 18px;padding: 11px 20px;cursor: pointer;
}
.slide_toggle span.active{
  background: #40c252;
  color: #fff;
}
.pitches_row h4{
  font-weight: 700;
}
.profile_detail.desktop_none{
  display: none;
}
.toggle_bar{
  display: none;
}

/*===================cart=============================*/

.card_row{
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;    margin-bottom: 40px;
}
span.cover {
    font-weight: 700;
    color: #50c761;
    margin: 24px 0 12px 0;
    float: left;
    width: 100%;
    font-size: 15px;
}
.card_col {
    width: 32%;
     box-shadow: 0px 2px 19px #e4ecfb;
}
.card_top_img {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    padding: 18px 0;
}
.card_top_img img{
  width: 125px;
}
.card_contnt h3 {
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
}
.card_contnt p {
    color: #a6a6a6;
    margin-top: 13px;
    line-height: 20px;
    margin-bottom: 10px;
}
span.time {
    font-weight: 600;
}
p.pitch_score {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    margin-top: 30px;
    margin-bottom: 25px;padding: 0 24px;
}
.pitch_score:before {
    content: "";
    width: 20px;
    position: absolute;
    top: 13px;
    left: 0px;
}
.pitch_score.green:before{
    content: "";
    border-bottom: 2px solid #40c252;
}
.pitch_score.blue:before{
   content: "";
    border-bottom: 2px solid #0088fe;
}
.pitch_num{
  margin-left: 6px;
  color: #40c252;
}
.pitch_num.blue{
  color: #0088fe;
}

.card_pro_row{
  width: 100%;float: left;display: flex;align-items: center;padding: 0 24px;margin-bottom: 26px;
}
.card_pro_img{
  width: 55px;
  height: 55px;
}
.card_pro_img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
}
.card_pro_contnt {
    margin-left: 15px;
}
.card_pro_contnt h3{font-weight: 700;font-size: 18px;}
.card_pro_contnt p {
    margin-top: 2px;
}
.bg_skyblue{
  background: #fcfdff;
}
.card_contnt {
    padding: 0 24px;
}

.card_top_img .apple{
  width: 33px;
}

/*=================List view====================*/

.list_view {
    width: 100%;
    float: left;
}

.list_col {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 0px 2px 19px #e4ecfb;
    margin-bottom: 20px;
}
.list_lft {
    width: 14%;
}
.list_lft img{
  width: 100px;
}
.list_middle {
    width: 62%;
    border-right: 1px solid #e5e9ea;
    border-left: 1px solid #e5e9ea;
    padding: 0 36px;
}
.list_rgt {
    width: 20%;
}
.list_middle h3 {
    font-weight: 600;
    font-size: 18px;
}
.list_middle p {
    font-size: 13px;
    margin-top: 9px;
    line-height: 22px;
}
.list_rgt_pro{
  width: 50px;height: 50px;
}
.list_rgt_pro img{
  max-height: 100%;max-height: 100%;border-radius: 100%;
}
.list_rgt {
    width: 23%;
    display: flex;
    align-items: center;padding-left: 26px;
}
.list_rgt_cont h4{
  font-weight: 600;font-size: 16px;
}
.list_rgt_cont p{
  font-size: 13px;color: #40c252;
}
.list_rgt_cont {
    margin-left: 14px;
}

.list_cover{
  font-weight: 600;color: #40c252;margin-right: 15px;
}

/*chat screen style*/
.msg-row{
    width: 100%;
    float: left;
}
.msg-col-1{
    width: 23%;
    float: left;
    
}
.msg-col-2{
    width: 54%;
    float: left;
    position: relative;
    min-height: 500px;
    border-right: 1px solid #bebebe;
    border-left: 1px solid #bebebe;}
.msg-col-3{
     width: 23%;
    float: right;
    padding: 10px 32px;
} 
.bg-white{
    background: #fafbfe;
}
.msg-inp-btn{
    margin-bottom: 0px;
}
.msg-inp-btn .srch_col input[type='search']{
    padding-left: 45px;
    border: none;
}

ul.msg-tab{
    display: flex;
    justify-content: space-between;
}
ul.msg-tab li a{
    padding: 15px 50px;
    color: #bebebe !important;
    font-size: 12px;
    background-color: #fff !important;
}
ul.msg-tab a:hover{
    border-bottom: 1px solid #40c252;
}
ul.msg-tab li:last-child a{
    border-bottom: 1px solid #40c252 !important; 
}

ul.msg-tab li button{
    padding: 15px 50px;
    color: #bebebe !important;
    font-size: 12px;
    background-color: #fff !important;
    border: none;
}
ul.msg-tab button:hover{
    border-bottom: 1px solid #40c252;
}
ul.msg-tab button:focus{
    /* border-bottom: 1px solid #40c252; */
    outline: none;
}
/* ul.msg-tab li:last-child button{
    border-bottom: 1px solid #40c252 !important; 
} */
.activeTab {
    border-bottom: 1px solid #40c252 !important;
}
.meee {
    border-bottom: 1px solid #40c252 !important; 
}

.msg-crd-row{
    width: 100%;
    float: left;
}
.msg-crd-col{
    margin-bottom: 0px;
    padding: 15px 11px;
    align-items: flex-start;
}
.msg-crd-img{
    max-width: 42px;
    max-height: 42px;
    width: 20%;
    margin-top: 10px;
}
.msg-crd-col .msg-crd-cont{
    width: auto;
}
.msg-crd-col .msg-crd-cont p:first-child{
    font-size: 11px;
    color: #40c252
}
.msg-crd-col .msg-crd-cont p:first-child span{
    float: right;
    color: #bebebe;
}
.msg-crd-col .msg-crd-cont h3{font-size: 14px;}
.msg-crd-col .msg-crd-cont p{word-spacing: 2px; font-size: 12px; color: #bebebe;}
.msg-col-3 .crd-img{
    width: 63px;
    height: 63px;
}  
.msg-col-3 .crd-cont{
    margin-left: 25px;
}
.msg-col-3 .crd-cont h3{font-size: 16px;}
.msg-col-3 .crd-cont p{color: #ddd;  font-size: 13px; line-height: 22px;}
.msg-col-3 .crd-cont p:last-child{color: #40c252}
.msg-col-3 .crd-para{ text-transform: capitalize; padding: 0px 10px}
.msg-col-3 .crd-para p{color: #3c3e40; word-spacing: 1px; font-size: 13px; line-height: 22px;}
.msg-col-3 .crd-para p span{font-weight: 700;}
.msg-col-3 .msg-go-btn{
    padding: 0px 10px;
}
.msg-col-3 .msg-go-btn button{
    margin-right: 0px;
    margin-top: 20px;
    border: 1px solid #40c252;
}
.msg-col-2 .msg-box{
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.msg-col-2 .msg-box h2{
    font-size: 16px;
    margin: 10px 0px;
    font-weight: 700;
}
.msg-col-2 .msg-box p{
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20PX;
}
.msg-col-2 .msg-box a{
    color: #42c252;
    text-decoration: underline;
    font-size: 11px;
}
.msg-col-2 .cht-box{
    padding: 0px 28px;
}
.msg-col-2 .cht-box .cht-img{
    max-width: 25px;
    max-height: 25px;
}
.msg-col-2 .cht-box .cht-para p:first-child{
    color: #bebebe;
}
.msg-col-2 .cht-box .cht-para p:last-child{
    background-color: #eaeffa;
    padding: 9px;
    border-radius: 0px 7px 7px;
    width: auto;
    border: none;
}
.msg-col-2 .cht-box-2{
     text-align: right;
    display: flex;
    justify-content: flex-end;
    padding: 0px 28px;
}
.msg-col-2 .cht-box-2 .cht-para p:first-child{
    color: #bebebe;
}
.msg-col-2 .cht-box-2 .cht-para p:last-child{
     background-color: #252932;
    padding: 9px;
    width: auto;
    border-radius: 7px 0px 7px 7px;
    color: #fff;
    border: none;
    text-align: left;
}
.chat-info{
    width: 100%;
    float: left;
    overflow-y: auto;
    height: calc(100vh - 435px);
}
.msg-col-2 .msg-ipt{
     position: absolute;
    bottom: 0;
    width: 100%;
}
.msg-col-2 .msg-ipt button{
  background: transparent;
  outline: none;
  border: none;
}
.msg-col-2 .msg-ipt .ipt-chat{
    position: relative;
}
.msg-col-2 .msg-ipt .ipt-chat .chat-attch{
    position: absolute;
    right: 0;
    top: 13px;
    margin-right: 15px;
}
.msg-col-2 .msg-ipt .ipt-chat input{
    padding-right: 22%;
    border: none;
    border-top: 1px solid #ddd;
}
.chat-attch i{
     margin: 0px 12px;
    font-size: 24px;
}
.chat-attch i:first-child{
    background-color: yellow;
}
.chat-attch i:last-child{
    padding: 3px 13px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #40c252 !important;
        color: #fff;
}

/*===============================Add Personalisation============================*/

.add-persnl-container{
    padding: 30px 60px; 
}
.ad-pernl-hdg{
    text-align: center;
    padding-bottom: 30px;
}
.ad-pernl-hdg h3{
    font-weight: 700;
    font-size: 26px
}
.ad-pernl-conts{
    margin-bottom: 0px;
}
.ad-pernl-conts label{
    display: block;
    font-weight: 900;
    text-transform: capitalize;
}
.ad-pernl-conts select,input{
    padding: 15px;
    width: 100%;
    border: 2px solid #bebebe;
    border-radius: 3px;
    color: #bebebe;
}
.ad-pernl-conts .srch_col button {
    border: none;
    background: transparent;
    position: absolute;
    top: 10px;
    left: 0
}
::placeholder{
    padding-left: 30px;
    font-size: 14px !important;
}
.pt-1{
    padding-top: 10px;
}
.add-pernl-info{
    padding-bottom: 30px;
    display: flex;
}
.pernl-pro-conts{
    display: flex;
    align-items: center;
}
.pernl-pro-conts .card_pro_img {
    width: 49px;
    height: 49px;
}
.add-pernl-pro{
    width: 40%;
    padding: 0px;
    align-items: flex-start;
    margin: 0px;
}
.add-pernl-text{
    width: 60%;
}
.add-pernl-text textarea{
    width: 100%;
    border: 2px solid #bebebe;
    border-radius: 3px;
    color: #bebebe;
    resize: none;
    padding: 10px 10px 0px 10px;
}
.add-pernl-text textarea::placeholder{
/*    padding-top: 15px;*/
    padding-left: 10px;
}
.add-pernl-pro .card_pro_contnt h3 span{
    font-style: italic;
    color: #bebebe;
    font-weight: normal;
    font-size: 15px;
}
.add-pernl-btn{
    display: block;
    padding: 0px;
}
.add-pernl-btn button:last-child{
    margin-right: 0px;
}
.mt-0{
    margin: 0px;
}


/*=================Media query====================*/



@media only screen and (min-width:310px) and (max-width: 767px) {

h4{
  font-size: 16px;
}
.container.cstm_container {
   max-width: 100%;
}
.toggle_bar{
  display: block;
}
header {
    padding: 0px 0 0px;
    flex-direction: column;
}
.profile_detail.desktop_none{
  display: flex;
}
.hdr_lft {
    width: 100%;
    flex-direction: column;
        position: relative;
    padding: 10px 10px;box-shadow: 0px 0px 4px #ccc;
}
.logo {
    width: 100%;
    display: flex;
    justify-content: space-between;    align-items: center;
}
.logo i{
  font-size: 20px;
}
.logo img{
  width: 115px;
}
.menu {
    margin-left: 0;
    position: absolute;
    left: 0;
    background: #eaeaea;
    right: 0;
    padding: 10px 10px;
    top: 57px;
    display: none;
}

.menu_close{
  display: none !important;
}
.menu li {
    display: block;
    list-style: none;
   margin: 0 0 12px 0;
    width: 100%;
}
.menu li a.new_pitch_btn { 
    padding: 4px 18px;
    font-size: 13px;
}
.hdr_rgt{
  display: none;
}
.user_img {
    width: 25px;
    height: 25px;
}
span.profile_detail {
    margin-left: 32px;
}
.btn.cstm_dropdown {
   
    font-size: 13px;
    padding: 6px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cstm_angle {
    font-size: 16px !important;
    margin-left: 6px;
}
.menu li a {
    font-size: 13px;
}
.new_pitch {
        padding: 20px 8px;
    margin-top: 37px;
}
.new_pitch h4 {
    line-height: 30px;    margin-bottom: 20px;
}
.new_pitch_btn {
    padding: 8px 16px;
    font-size: 12px;
}
img.srch_icn {
    width: 22px;
}
.srch_row input {
    height: 68px;
    padding: 10px 10px 10px 33px;
}
.srch_row button {
    top: 22px;
    left: 6px;
}
.srch_col input[type="search"]::-webkit-input-placeholder { 
  font-size: 13px; 
}
.srch_col input[type="search"]::-moz-placeholder { 
  font-size: 13px;
}
.srch_col input[type="search"]:-ms-input-placeholder { 
  font-size: 13px;
}
.srch_col input[type="search"]:-moz-placeholder { 
  font-size: 13px;
}
.srch_lst_col {
    padding: 10px 12px;
}
.srch_pic {
    width: 35px;
    height: 35px;
    line-height: 34px;
}
.pro_detail h3 {
    font-size: 14px;
}
.pro_detail p{
     font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
}
.cstm_modal .modal-dialog {
    width: auto;
}
.pop_btn button {
    padding: 4px 28px;
}
.card_row {
    flex-direction: column;
}
.card_col {
    width: 100%;    margin-bottom: 24px;

}
.list_col {
    flex-direction: column;
}
.list_lft {
    width: 100%;
    text-align: center;
}
.list_middle {
    width: 100%;
    border-right: none;
    border-left: none;
    padding: 15px 0px;
    border-top: 1px solid #e5e9ea;
    border-bottom: 1px solid #e5e9ea;
    margin: 16px 0;
}
.list_rgt {
    width: 100%;
    padding-left: 0;
}
.list_middle h3 {
    font-size: 16px;
    line-height: 23px;
}

/* chat page css */
.msg-row{
    padding: 10px;
}
.msg-col-1{
    width: 100% !important;
} 
.msg-col-2{
    width: 100% !important; 
    border-right: 0px solid #bebebe !important;
    border-left: 0px solid #bebebe !important;
}
.msg-col-3{
    width: 100% !important; 
    margin-top: 25px;
}
}


@media only screen and (min-width:768px) and (max-width: 1023px) {

.container.cstm_container {
   max-width: 100%;
}
header {
    padding: 32px 12px;
}
.menu {
    margin-left: 17px;
}
.menu_close{
  display: none !important;
}
.menu li {
    margin-right: 17px;
}
.menu li a.new_pitch_btn {
    padding: 4px 9px;
    font-size: 12px;
}
span.profile_detail {
    margin-left: 23px;
}
.logo {
    width: 23%;
}
.list_rgt {
    width: 27%;
}
.list_middle {
    width: 58%;
}
/* chat page css */
.msg-row{
    padding: 10px;
}
.msg-col-1{
    width: 100% !important;
} 
.msg-col-2{
    width: 100% !important; 
    border-right: 0px solid #bebebe !important;
    border-left: 0px solid #bebebe !important;
}
.msg-col-3{
    width: 100% !important; 
    margin-top: 25px;
}
}